Package: python3-mythcommflagwrapper
Source: mythcommflagwrapper
Version: 0.1.0-1
Architecture: all
Maintainer: Charlie Rusbridger <charlie@rusbridger.com>
Installed-Size: 53
Depends: libmyth-python, python3:any, mythtv-backend
Section: video
Priority: optional
Description: MythTV commercial detection wrapper using Comskip
 A wrapper around Comskip for use by MythTV's commercial detection system.
 This package provides a Python interface and CLI tool to use Comskip
 with MythTV recordings for commercial detection.
