#!/usr/bin/make -f

export PYBUILD_NAME=mythcommflagwrapper
export DH_VERBOSE=1
export PYBUILD_SYSTEM=pyproject

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 comskip.ini debian/python3-mythcommflagwrapper/etc/mythcommflagwrapper/comskip.ini
